
@{
    Layout = null;
}

<!DOCTYPE html>
@model List<Project_E_Shop_.Models.Product>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit | Delete Product</title>


    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css.map" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css.map" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />

    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/npm.js"></script>
    <meta name="viewport" content="width=device-width" />


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <link href="~/Content/datePicker.css" rel="stylesheet" />
    <link href="~/Content/pro_dropline.css" rel="stylesheet" />
    <link href="~/Content/pro_dropline_ie.css" rel="stylesheet" />
    <link href="~/Content/screen.css" rel="stylesheet" />

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css.map" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css.map" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />

    <script src="~/Scripts/adminJS/jquery-1.4.1.min.js" type="text/javascript"></script>

    <!--  checkbox styling script -->
    <script src="~/Scripts/adminJS/ui.core.js" type="text/javascript"></script>
    <script src="~/Scripts/adminJS/ui.checkbox.js" type="text/javascript"></script>
    <script src="~/Scripts/adminJS/jquery.bind.js" type="text/javascript"></script>
    <script src="~/Scripts/adminJS/jquery.selectbox-0.5.js" type="text/javascript"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('.styledselect').selectbox({ inputClass: "selectbox_styled" });
        });
    </script>



    <!--  styled select box script version 2 -->
    <script src="~/Scripts/adminJS/jquery.selectbox-0.5_style_2.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.styledselect_form_1').selectbox({ inputClass: "styledselect_form_1" });
            $('.styledselect_form_2').selectbox({ inputClass: "styledselect_form_2" });
        });
    </script>

    <!--  styled select box script version 3 -->
    <script src="~/Scripts/adminJS/jquery.selectbox-0.5_style_2.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.styledselect_pages').selectbox({ inputClass: "styledselect_pages" });
        });
    </script>

    <!--  styled file upload script -->
    <script src="~/Scripts/adminJS/jquery.filestyle.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8">
        $(function () {
            $("input.file_1").filestyle({
                image: "images/forms/choose-file.gif",
                imageheight: 21,
                imagewidth: 78,
                width: 310
            });
        });
    </script>

    <!-- Custom jquery scripts -->
    <script src="~/Scripts/adminJS/custom_jquery.js" type="text/javascript"></script>

    <!-- Tooltips -->
    <script src="~/Scripts/adminJS/jquery.tooltip.js" type="text/javascript"></script>
    <script src="~/Scripts/adminJS/jquery.dimensions.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('a.info-tooltip ').tooltip({
                track: true,
                delay: 0,
                fixPNG: true,
                showURL: false,
                showBody: " - ",
                top: -35,
                left: 5
            });
        });
    </script>


    <!--  date picker script -->
    <link rel="stylesheet" href="~/Content/datePicker.css" type="text/css" />
    <script src="~/Scripts/adminJS/date.js" type="text/javascript"></script>
    <script src="~/Scripts/adminJS/jquery.datePicker.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8">
        $(function () {

            // initialise the "Select date" link
            $('#date-pick')
                .datePicker(
                    // associate the link with a date picker
                    {
                        createButton: false,
                        startDate: '01/01/2005',
                        endDate: '31/12/2020'
                    }
                ).bind(
                    // when the link is clicked display the date picker
                    'click',
                    function () {
                        updateSelects($(this).dpGetSelected()[0]);
                        $(this).dpDisplay();
                        return false;
                    }
                ).bind(
                    // when a date is selected update the SELECTs
                    'dateSelected',
                    function (e, selectedDate, $td, state) {
                        updateSelects(selectedDate);
                    }
                ).bind(
                    'dpClosed',
                    function (e, selected) {
                        updateSelects(selected[0]);
                    }
                );

            var updateSelects = function (selectedDate) {
                var selectedDate = new Date(selectedDate);
                $('#d option[value=' + selectedDate.getDate() + ']').attr('selected', 'selected');
                $('#m option[value=' + (selectedDate.getMonth() + 1) + ']').attr('selected', 'selected');
                $('#y option[value=' + (selectedDate.getFullYear()) + ']').attr('selected', 'selected');
            }
            // listen for when the selects are changed and update the picker
            $('#d, #m, #y')
                .bind(
                    'change',
                    function () {
                        var d = new Date(
                                    $('#y').val(),
                                    $('#m').val() - 1,
                                    $('#d').val()
                                );
                        $('#date-pick').dpSetSelected(d.asString());
                    }
                );

            // default the position of the selects to today
            var today = new Date();
            updateSelects(today.getTime());

            // and update the datePicker to reflect it...
            $('#d').trigger('change');
        });
    </script>
    <!-- MUST BE THE LAST SCRIPT IN <HEAD></HEAD></HEAD> png fix -->
    <script src="~/Scripts/adminJS/jquery.pngFix.pack.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).pngFix();
        });
    </script>


    <script type="text/javascript">
        $(function () {
            $('input').checkBox();
            $('#toggle-all').click(function () {
                $('#toggle-all').toggleClass('toggle-checked');
                $('#mainform input[type=checkbox]').checkBox('toggle');
                return false;
            });
        });
    </script>
</head>
<body>

    <div id="page-top-outer">

        <!-- Start: page-top -->
        <div id="page-top">

            
            
            <div class="clear"></div>

        </div>
        <!-- End: page-top -->

    </div>
    <!-- End: page-top-outer -->

    <div class="clear">&nbsp;</div>

    <!--  start nav-outer-repeat................................................................................................. START -->
    <div class="nav-outer-repeat">
        <!--  start nav-outer -->
        <div class="nav-outer">

            <!-- start nav-right -->
            <div id="nav-right">

                <div class="nav-divider">&nbsp;</div>
                <div class="showhide-account"></div>
                <div class="nav-divider">&nbsp;</div>
                <a href="/Admin/AdminLogout" id="logout"><img src="~/Content/themes/base/images/adminP/shared/nav/nav_logout.gif" width="64" height="14" alt="" /></a>
                <div class="clear">&nbsp;</div>

                

            </div>
            <!-- end nav-right -->
            <!--  start nav -->
            <div class="nav">
                <div class="table">

                    <ul class="select">
                        <li>
                            
                            <!--[if lte IE 6]><table><tr><td><![endif]-->
                            <div class="select_sub">
                                <ul class="sub"></ul>
                            </div>
                            <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                        </li>
                    </ul>

                    <div class="nav-divider">&nbsp;</div>

                    <ul class="current">
                        <li>
                            <a href="#nogo"><b>Actions</b><!--[if IE 7]><!--></a><!--<![endif]-->
                            <!--[if lte IE 6]><table><tr><td><![endif]-->
                            <div class="select_sub show">
                                <ul class="sub">
                                    <li><a href="/Admin/AddProduct">Add Product</a></li>
                                    <li><a href="/Admin/ViewAllUser">All Users</a></li>
                                    <li><a href="/Admin/EditDelete">Edit Or Delete products</a></li>
                                    <li><a href="/Admin/AddCat">Add or Delete Category</a></li>
                                    <li><a href="/Admin/AddBrand">Add or Delete Brand</a></li>
                                    <li><a href="/Admin/Feedback">Users Feedback</a></li>
                                </ul>
                            </div>
                            <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                        </li>
                    </ul>

                    <div class="nav-divider">&nbsp;</div>



                    <div class="nav-divider">&nbsp;</div>



                    <div class="nav-divider">&nbsp;</div>



                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <!--  start nav -->

        </div>
        <div class="clear"></div>
        <!--  start nav-outer -->
    </div>
    <!--  start nav-outer-repeat................................................... END -->

    <div class="clear"></div>

    <!-- start content-outer ........................................................................................................................START -->
    <div id="content-outer">
        <!-- start content -->
        <br />
        <br />
        <div id="content">
            <h2 class="text-center">@Session["Admin"]</h2>
            <!--  start page-heading -->
            <br />
            <br />
            <br />
            <div id="page-heading">
                <h1>Edit Or Delete Product</h1>
            </div>
            <br />
            <br />
            <!-- end page-heading -->

            <table border="1" width="100%" cellpadding="0" cellspacing="0" id="content-table">
                <tr>
                    <th rowspan="3" class="sized"><img src="~/Content/themes/base/images/adminP/shared/side_shadowleft.jpg" width="20" height="300" alt="" /></th>
                    <th class="topleft"></th>
                    <td id="tbl-border-top">&nbsp;</td>
                    <th class="topright"></th>
                    <th rowspan="3" class="sized"><img src="~/Content/themes/base/images/adminP/shared/side_shadowright.jpg" width="20" height="300" alt="" /></th>
                </tr>
                <tr>
                    <td id="tbl-border-left"></td>
                    <td>
                        <!--  start content-table-inner ...................................................................... START -->
                        <div id="content-table-inner">

                            <!--  start table-content  -->
                            <div id="table-content">


                                <form id="mainform" action="">

                                    <table border="1" width="100%" cellpadding="0" cellspacing="0" id="product-table">

                                        <tr>
                                            <th class="table-header-repeat line-left minwidth-1"><a href="">Product Id</a>	</th>
                                            <th class="table-header-repeat line-left minwidth-1"><a href="">Name Of Product</a>	</th>

                                            <th class="table-header-repeat line-left"><a href="">Price</a></th>

                                            <th class="table-header-options line-left"><a href="">Action</a></th>
                                        </tr>
                                        @foreach (var i in Model)
                                        {
                                            <tr>
                                                <td>@i.Id</td>
                                                <td>@i.PName</td>
                                                <td><a href="">@i.Price</a></td>
                                                


                                                <td class="options-width">

                                                    <!-- <a href="/Admin/DeleteUser" title=" delete" class="icon-2 info-tooltip"></a>-->
                                                    @Html.ActionLink("Delete This Item ||", "DeleteItem", new { id = i.Id })
                                                    @Html.ActionLink("Edit This Item", "EditItem", new { id = i.Id })

                                                </td>
                                            </tr>
                                        }
                                    </table>
                                    <!--  end product-table................................... -->
                                </form>
                            </div>
                            <!--  end content-table  -->
                            <!--  start paging..................................................... -->
                            <!--  end paging................ -->

                            <div class="clear"></div>

                        </div>
                        <!--  end content-table-inner ............................................END  -->
                    </td>
                    <td id="tbl-border-right"></td>
                </tr>
                <tr>
                    <th class="sized bottomleft"></th>
                    <td id="tbl-border-bottom">&nbsp;</td>
                    <th class="sized bottomright"></th>
                </tr>
            </table>
            <div class="clear">&nbsp;</div>

        </div>
        <!--  end content -->
        <div class="clear">&nbsp;</div>
    </div>
    <!--  end content-outer........................................................END -->

    <div class="clear">&nbsp;</div>


</body>
</html>

